

.floatLeft{

    float: left;
}

.clearBoth{

    clear: both;
}

.marginTop_50px{
    margin-top: 50px;
}

.marginLeft_10px{

    margin-left: 10px;
}

.marginRight_10px{

    margin-right: 10px;
}